.subscribe{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.subscribeText{
    font-size: 10px;
    line-height: 15px;
    color: gray;
}
.img{
    height: 257px;
}

input{
    border-radius: 20px;
}
.term{
    font-size: 13px;
    line-height: 17px;
    columns: gray;
}
.submit-btn{
    background-color: #cece06;
border: #cece06;
margin-left: 20px;
}

.closeSubscribe{
    float: right;
    margin-right: -457px;
}