<!-- Button trigger modal -->
<button #btn type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none;">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered to .modal-dialog" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              
            </div> -->
            
            <div class="modal-body p-0 m-0 ">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img" src="../../../../assets/images/team/subscribe.jpg" alt="#">
                                
                            </div>
                            <div class="col-md-6 py-3 px-0 mx-0 position-relative">
                                <h6 class=" subscribe mt-1">Subscribe to our newsletter!</h6>
                                <p class="subscribeText mt-1 w-75">Want to know how? Join our free lectures and webinars to skyrocket your skills!</p>
                                <form class="mt-2" (submit)="submit($event)">
                                    <div class="form-group" >
                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="name" class="form-control form-control-sm p-1 w-75" type="text" placeholder="  Your Name" required>
                                    </div>
                                    <div class="form-group mb-1">
                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="email" class="form-control form-control-sm p-1  w-75" type="email" placeholder="  Your E-mail" required>
                                    </div>
                                    <div class="form-check w-75" style="font-size: 11px;">
                                        <input (change)="onChange()" [checked]="checked" type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label term" for="exampleCheck1" style="font-size: 11px;">I accept the Terms and the Privacy Policy. </label>
                                    </div>
                                    <button type="submit" [disabled]="!checked" class="btn btn-primary btn-sm mt-1">Submit</button>
                                    <button type="button" class="btn btn-sm btn-secondary  mt-1 ml-2" data-dismiss="modal">
                                        <span aria-hidden="true">Close</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>