<!-- Fun Facts -->
<div class="fun-facts overlay" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <h5 class="heading">Our Passionate Educator</h5>
          <p class="mt-5 text-center">
            The BIE Mammography Bootcamp with Artificial Intelligence has been
            designed to help radiologists learn mammography and the role of
            artificial intelligence in practice. You will learn the normal and
            abnormal appearances on MMG and report them as per BIRADS structure
            through rigorous case practice and discussions. We have worked very
            hard to make it a reality for all of you so that you can continue
            your education and learning in breast imaging. All of our past
            attendees have grown in confidence and their encouraging feedback
            gives us confidence that you will definitely gain a lot from the
            program. Ultimately, your learning will impact your practice and
            patients positively, which is what motivates us to keep working hard
            on keeping the program updated and refreshing. We welcome you all to
            take advantage of the opportunity and make the most of it! Lots of
            love and See you soon!
          </p>

          <div class="center mt-5">
            <img
              class="img"
              src="../../../../assets/images/team/12.png"
              alt="#"
              width="25%"
            />
            <div class="team-hover mt-3">
              <h6>Dr. Niketa Chotai</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ End Fun Facts -->
