<!-- Events -->
<section class="events section">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="section-title justify-content   ">
                    <h2><span>Events</span></h2>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions">
                    <ng-template let-product pTemplate="item">
                        <div class="product-item event-slider">
                            <div class="product-item-content">
                                <div class="single-event">
                                    <div class="head overlay">
                                        <img src="{{product.image}}" alt="#" class="image-fixed">
                                    </div>
                                    <div class="event-content">
                                        <div class="meta">
                                            <span><i class="fa fa-calendar"></i>{{product.date}}</span>
                                        </div>
                                        <h4><a [href]="product.link" target="_blank">{{product.name}}</a></h4>
                                        <div>
                                            <button [routerLink]="'/usg-cem-symposium-2023'" class="btn bg-theme text-white f-14">Join
                                                Event</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>

            </div>
        </div>
    </div>
</section>
<!--/ End Events -->