<div class="learnedu-sidebar left">
    <!-- <div class="search">
        <div class="form">
            <input type="email" placeholder="Search ...">
            <button class="button"><i class="fa fa-search"></i></button>
        </div>
    </div> -->
    <!-- Categories -->
    <div class="single-widget categories">
        <h3 class="title">Categories</h3>
        <ul>
            <li><a href="/admin/courses/list"><i class="fa fa-angle-right"></i>Courses</a></li>
            <li><a href="/admin/teacher/list"><i class="fa fa-angle-right"></i>Teacher</a></li>
        </ul>
    </div>
    <!--/ End Categories -->
    <!-- Posts -->
    <div class="single-widget posts">
        <h3>Recent <span>Posts</span></h3>
        <div class="single-post">
            <div class="post-img">
                <img src="../../../assets/images/blog/blog1.jpg" alt="">
            </div>
            <div class="post-info">
                <h4><a href="#">Sed libero justo, tempus sit amet efficitur auctor</a></h4>
                <span><i class="fa fa-calendar"></i>May 05, 2018</span>
            </div>
        </div>
        <div class="single-post">
            <div class="post-img">
                <img src="../../../assets/images/blog/blog2.jpg" alt="">
            </div>
            <div class="post-info">
                <h4><a href="#">velit mauris pharetra ligula, luctus suscipit dui dui </a></h4>
                <span><i class="fa fa-calendar"></i>April 10, 2018</span>
            </div>
        </div>
        <div class="single-post">
            <div class="post-img">
                <img src="../../../assets/images/blog/blog3.jpg" alt="">
            </div>
            <div class="post-info">
                <h4><a href="#"> Aenean congue laoreet velit a varius. Nulla facilisi.</a></h4>
                <span><i class="fa fa-calendar"></i>March 15, 2018</span>
            </div>
        </div>
        <div class="single-post">
            <div class="post-img">
                <img src="../../../assets/images/blog/blog1.jpg" alt="">
            </div>
            <div class="post-info">
                <h4><a href="#">Ut malesuada sed lorem sagittis ullamcorper Class </a></h4>
                <span><i class="fa fa-calendar"></i>Feb 29, 2018</span>
            </div>
        </div>
        <div class="single-post">
            <div class="post-img">
                <img src="../../../assets/images/blog/blog2.jpg" alt="">
            </div>
            <div class="post-info">
                <h4><a href="#">Nunc id arcu eros. Proin nec mattis elit. Nulla ut odio</a></h4>
                <span><i class="fa fa-calendar"></i>Jan 11, 2018</span>
            </div>
        </div>
    </div>
    <!--/ End Posts -->
    <div class="single-widget course">
        <h3>Popular <span>Courses</span></h3>
        <!-- Single Course -->
        <div class="single-course">
            <img src="../../../assets/images/course/course1.jpg" alt="#">
            <div class="course-content">
                <h4><a href="#">Web Design Course</a></h4>
                <div class="meta">$900.00, <span><i class="fa fa-clock-o"></i>3 Years</span></div>
            </div>
        </div>
        <!-- Single Course -->
        <!-- Single Course -->
        <div class="single-course">
            <img src="../../../assets/images/course/course2.jpg" alt="#">
            <div class="course-content">
                <h4><a href="#">Business Management Course</a></h4>
                <div class="meta">$150.00, <span><i class="fa fa-clock-o"></i>1 Year</span></div>
            </div>
        </div>
        <!-- Single Course -->
        <!-- Single Course -->
        <div class="single-course">
            <img src="../../../assets/images/course/course3.jpg" alt="#">
            <div class="course-content">
                <h4><a href="#">Software Engineer Course</a></h4>
                <div class="meta">$500.00, <span><i class="fa fa-clock-o"></i>6 Month</span></div>
            </div>
        </div>
        <!-- Single Course -->
        <!-- Single Course -->
        <div class="single-course">
            <img src="../../../assets/images/course/course4.jpg" alt="#">
            <div class="course-content">
                <h4><a href="#">Master in website Development Course</a></h4>
                <div class="meta">$200.00, <span><i class="fa fa-clock-o"></i>1 Year</span></div>
            </div>
        </div>
        <!-- Single Course -->
        <!-- Single Course -->
        <div class="single-course">
            <img src="../../../assets/images/course/course5.jpg" alt="#">
            <div class="course-content">
                <h4><a href="#">Zero to Hero Cources</a></h4>
                <div class="meta">$300.00, <span><i class="fa fa-clock-o"></i>2 Years</span></div>
            </div>
        </div>
        <!-- Single Course -->
    </div>
    <div class="single-widget tags">
        <h3>Recent <span>Tags</span></h3>
        <ul>
            <li><a href="#">Course</a></li>
            <li><a href="#">University</a></li>
            <li><a href="#">Scholarship</a></li>
            <li><a href="#">Free</a></li>
            <li><a href="#">Standard</a></li>
            <li><a href="#">Standard</a></li>
        </ul>
    </div>
</div>