.inline {
    max-width: 400px;
    margin: auto;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 3px;
}

@media (max-width: 767px) {
    .eye-icon {
        position: absolute;
        left: 183px !important;
        top: 266px !important;
    }
    .eye-icon1 {
        position: absolute;
        left: 177px !important;
        top: 256px !important;
    }
}