<div class="container">
    <!-- Single Enroll -->
    <div class="form-cls">
        <div class="form-title">
            <h2>{{isEdit ? "Update": "Create" }} Teacher Account</h2>
        </div>
        <!-- Form -->
        <form class="form" [formGroup]="teacherFrom" action="#">
            <div class="form-group">
                <label>Enter Teacher Name *</label>
                <input name="name" type="text" formControlName="name" />
                <p class="text-danger"
                    *ngIf="teacherFrom.get('name').hasError('required') && (teacherFrom.dirty || teacherFrom.touched)">
                    Teacher name is required.
                </p>
            </div>
            <div class="form-group">
                <label>Enter Teacher Email *</label>
                <input type="email" formControlName="email" />
                <p class="text-danger"
                    *ngIf="teacherFrom.get('email').hasError('required') && (teacherFrom.dirty || teacherFrom.touched)">
                    Teacher email is required.
                </p>
            </div>
            <div class="form-group">
                <label>Enter Teacher Phone *</label>
                <input type="text" formControlName="phone" />
                <p class="text-danger"
                    *ngIf="teacherFrom.get('phone').hasError('required') && (teacherFrom.dirty || teacherFrom.touched)">
                    Teacher phone is required.
                </p>
            </div>
            <div class="form-group">
                <label>Country *</label>
                <input type="text" formControlName="country" />
                <p class="text-danger"
                    *ngIf="teacherFrom.get('country').hasError('required') && (teacherFrom.dirty || teacherFrom.touched)">
                    Country is required.
                </p>
            </div>
            <div class="form-group">
                <label>Affiliation *</label>
                <input type="text" formControlName="affiliation" />
                <p class="text-danger"
                    *ngIf="teacherFrom.get('affiliation').hasError('required') && (teacherFrom.dirty || teacherFrom.touched)">
                    Affiliation is required.
                </p>
            </div>
            <div class="form-group button">
                <button type="submit" class="btn" (click)="signupHandler()">
                    {{ isEdit ? "Update Now" : "Register Now" }}
                </button>
            </div>
        </form>
        <!--/ End Form -->
    </div>
    <!-- Single Enroll -->
</div>