<!-- Blogs -->
<section class="blog b-archives single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="blog-detail">
                    <div class="detail-content">
                        <h2 class="blog-title">
                            <a href="#">{{ blog.title }}</a>
                        </h2>
                        <div class="blockquote" [innerHTML]="blog.description"></div>
                        <div class="blog-info">
                            <a href="#"><i class="fa fa-user"></i>By: {{blog.by}}</a>
                            <a href="#"><i class="fa fa-calendar"></i>{{blog.date|date:'dd MMMM yyyy'}}</a>
                            <a href="#"><i class="fa fa-bolt"></i>{{blog.tag}}</a>
                        </div>
                    </div>
                    <div class="blog-bottom">
                        <ul class="share">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                        <!-- Next Prev -->
                        <ul class="prev-next">
                            <li class="prev">
                                <a href="#"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                            <li class="next">
                                <a href="#"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                        <!--/ End Next Prev -->
                    </div>
                    <div class="comment-main">
                        <div class="comment-title">
                            <h2>Leave a Reply</h2>
                            <p>
                                Your email address will not be published. Required fields are marked *
                            </p>
                        </div>
                        <!-- Form -->
                        <form class="form" action="#">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="name" type="text" placeholder="Full name" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="email" type="email" placeholder="Enter your email" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="subject" type="text" placeholder="Subjects" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="address" type="url" placeholder="Web Address" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="address" rows="6" placeholder="Web Address"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="button">
                                            <button type="submit" class="btn primary">
                        Post Comment
                      </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--/ End Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Blogs -->
<!--/ End Blogs -->