.form-group {
    margin-bottom: 15px;
}

.enroll-img {
    // background-image: none;
}

.inline {
    max-width: 400px;
    margin: auto;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 3px;
}

.eye-icon {
    position: absolute;
    left: 376px !important;
    top: 692px !important;
}

.eye-icon1 {
    position: absolute;
    left: 365px !important;
    top: 682px !important;
}

@media (max-width: 767px) {
    .eye-icon {
        position: absolute;
        left: 312px !important;
        top: 716px !important;
    }
    .eye-icon1 {
        position: absolute;
        left: 306px !important;
        top: 709px !important;
    }
}

:host ::ng-deep .iti {
    top: 32px;
    left: -105px;
}

.phoneInput {
    padding-left: 60px !important;
}