.bg-full {
  background: url("../../../../../assets/images/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  width: 100vw;
  height: 100vh;
}

.white-card {
  padding: 3rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content:before,
.main-content:after {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 32px;
  z-index: -4;
}

.main-content::before {
  left: 0;
  top: -33px;
  content: "\f10d";
}

.main-content::after {
  right: 0;
  bottom: -33px;
  content: "\f10e";
}

@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

.text-normal {
  font-weight: 400;
  font-style: italic;
  font-size: 32px;
  font-family: "San Francisco" !important;
}

.margin-right-quote{
    position: relative;
    top: -19px;
    right: 2px;
    color: #a99eb6;
}

.margin-left-quote{
    position: relative;
    top: 19px;
    left: 8px;
    color: #a99eb6;
}