.basicinformation-details {
    font-size: 24px;
    font-weight: 500;
}

.grey-text {
    font-size: 14px;
    font-weight: 500;
    color: #BCBCBC;
}

.dark-text {
    font-size: 14px;
    color: #ff2768;
    font-weight: 500;
}