<!-- Blog Single -->
<section class="blog b-archives single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="blog-detail">
                    <div class="b-gallery">
                        <div class="single-image">
                            <img src="images/blog/blog1.jpg" alt="#">
                        </div>
                        <div class="single-image">
                            <img src="images/blog/blog2.jpg" alt="#">
                        </div>
                        <div class="single-image">
                            <img src="images/blog/blog3.jpg" alt="#">
                        </div>
                    </div>
                    <div class="detail-content">
                        <div class="blog-info">
                            <a href="#"><i class="fa fa-user"></i>By: Admin</a>
                            <a href="#"><i class="fa fa-calendar"></i>15 April 2018</a>
                            <a href="#"><i class="fa fa-bolt"></i>Learning</a>
                        </div>
                        <h2 class="blog-title"><a href="#">Best quam littera gothica, quam nunc putamus parum!</a></h2>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                            litterarum formas humanitatis per seacula There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                            or randomised words Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                            anteposuerit litterarum formas humanitatis per seacula There are many variations of passages
                            of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humour, or randomised words</p>
                        <img src="images/blog/blog2.jpg" alt="#">
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                            litterarum formas humanitatis per seacula There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                            or randomised words Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                            anteposuerit litterarum formas humanitatis per seacula There are many variations of passages
                            of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humour, or randomised words</p>
                        <div class="blockquote">
                            <p>Simple is the Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis
                                ultricies nibh. Sed ultricies ante vitae laoreet sagittis injected humour, or randomised
                                words Mirum est notare quam littera gothica.</p>
                        </div>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                            litterarum formas humanitatis per seacula There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                            or randomised words Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                            anteposuerit litterarum formas humanitatis per seacula There are many variations of passages
                            of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humour, or randomised words</p>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                            litterarum formas humanitatis per seacula There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                            or randomised words Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                            anteposuerit litterarum formas humanitatis per seacula There are many variations of passages
                            of Lorem Ipsum available</p>
                    </div>
                    <div class="blog-bottom">
                        <ul class="share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <!-- Next Prev -->
                        <ul class="prev-next">
                            <li class="prev"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                        <!--/ End Next Prev -->
                    </div>
                    <div class="comment-main">
                        <div class="comment-title">
                            <h2>Leave a Reply</h2>
                            <p>Your email address will not be published. Required fields are marked *</p>
                        </div>
                        <!-- Form -->
                        <form class="form" action="#">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="name" type="text" placeholder="Full name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="email" type="email" placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="subject" type="text" placeholder="Subjects">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="address" type="url" placeholder="Web Address">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="address" rows="6" placeholder="Web Address"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="button">
                                            <button type="submit" class="btn primary">Post Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--/ End Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Blog Single -->