<!-- Fun Facts -->
<div class="fun-facts overlay" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-institution"></i>
                    <div class="number"><span class="counter">30+</span></div>
                    <p>Active Courses</p>
                </div>
                <!--/ End Single Fact -->
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-graduation-cap"></i>
                    <div class="number"><span class="counter">6k+</span></div>
                    <p>Students</p>
                </div>
                <!--/ End Single Fact -->
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-video-camera"></i>
                    <div class="number"><span class="counter">100</span>+</div>
                    <p>Video Contents</p>
                </div>
                <!--/ End Single Fact -->
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-globe"></i>
                    <div class="number"><span class="counter">35</span>+</div>
                    <p>Countries</p>
                </div>
                <!--/ End Single Fact -->
            </div>
        </div>
    </div>
</div>
<!--/ End Fun Facts -->