<el-header></el-header>
<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Blogs & News Pages</h2>
                <ul class="bread-list">
                    <li><a href="index-2.html">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="learnedu-sidebar left">
                <!-- <div class="search">
                <div class="form">
                    <input type="email" placeholder="Search ...">
                    <button class="button"><i class="fa fa-search"></i></button>
                </div>
            </div> -->
                <!-- Categories -->
                <div class="single-widget categories">
                    <h3 class="title">Categories</h3>
                    <ul>
                        <li><a href="/blog"><i class="fa fa-angle-right"></i>Blog<span>16</span></a>
                        </li>
                        <li><a href="/course-list"><i class="fa fa-angle-right"></i>Course<span>30</span></a>
                        </li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Tips for success<span>80</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Student Life<span>23</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Courses<span>28</span></a></li>
                        <li><a routerLink="/student/blog"><i class="fa fa-angle-right"></i>Blogs<span>28</span></a></li>
                    </ul>
                </div>
                <!--/ End Categories -->
                <!-- Posts -->
                <div class="single-widget posts">
                    <h3>Recent <span>Posts</span></h3>
                    <div class="single-post">
                        <div class="post-img">
                            <img src="../../../assets/images/blog/blog1.jpg" alt="">
                        </div>
                        <div class="post-info">
                            <h4><a href="#">Sed libero justo, tempus sit amet efficitur auctor</a></h4>
                            <span><i class="fa fa-calendar"></i>May 05, 2018</span>
                        </div>
                    </div>
                    <div class="single-post">
                        <div class="post-img">
                            <img src="../../../assets/images/blog/blog2.jpg" alt="">
                        </div>
                        <div class="post-info">
                            <h4><a href="#">velit mauris pharetra ligula, luctus suscipit dui dui </a></h4>
                            <span><i class="fa fa-calendar"></i>April 10, 2018</span>
                        </div>
                    </div>
                    <div class="single-post">
                        <div class="post-img">
                            <img src="../../../assets/images/blog/blog3.jpg" alt="">
                        </div>
                        <div class="post-info">
                            <h4><a href="#"> Aenean congue laoreet velit a varius. Nulla facilisi.</a></h4>
                            <span><i class="fa fa-calendar"></i>March 15, 2018</span>
                        </div>
                    </div>
                    <div class="single-post">
                        <div class="post-img">
                            <img src="../../../assets/images/blog/blog1.jpg" alt="">
                        </div>
                        <div class="post-info">
                            <h4><a href="#">Ut malesuada sed lorem sagittis ullamcorper Class </a></h4>
                            <span><i class="fa fa-calendar"></i>Feb 29, 2018</span>
                        </div>
                    </div>
                    <div class="single-post">
                        <div class="post-img">
                            <img src="../../../assets/images/blog/blog2.jpg" alt="">
                        </div>
                        <div class="post-info">
                            <h4><a href="#">Nunc id arcu eros. Proin nec mattis elit. Nulla ut odio</a></h4>
                            <span><i class="fa fa-calendar"></i>Jan 11, 2018</span>
                        </div>
                    </div>
                </div>
                <!--/ End Posts -->
                <div class="single-widget course">
                    <h3>Popular <span>Courses</span></h3>
                    <!-- Single Course -->
                    <div class="single-course">
                        <img src="../../../assets/images/course/course1.jpg" alt="#">
                        <div class="course-content">
                            <h4><a href="#">Web Design Course</a></h4>
                            <div class="meta">$900.00, <span><i class="fa fa-clock-o"></i>3 Years</span></div>
                        </div>
                    </div>
                    <!-- Single Course -->
                    <!-- Single Course -->
                    <div class="single-course">
                        <img src="../../../assets/images/course/course2.jpg" alt="#">
                        <div class="course-content">
                            <h4><a href="#">Business Management Course</a></h4>
                            <div class="meta">$150.00, <span><i class="fa fa-clock-o"></i>1 Year</span></div>
                        </div>
                    </div>
                    <!-- Single Course -->
                    <!-- Single Course -->
                    <div class="single-course">
                        <img src="../../../assets/images/course/course3.jpg" alt="#">
                        <div class="course-content">
                            <h4><a href="#">Software Engineer Course</a></h4>
                            <div class="meta">$500.00, <span><i class="fa fa-clock-o"></i>6 Month</span></div>
                        </div>
                    </div>
                    <!-- Single Course -->
                    <!-- Single Course -->
                    <div class="single-course">
                        <img src="../../../assets/images/course/course4.jpg" alt="#">
                        <div class="course-content">
                            <h4><a href="#">Master in website Development Course</a></h4>
                            <div class="meta">$200.00, <span><i class="fa fa-clock-o"></i>1 Year</span></div>
                        </div>
                    </div>
                    <!-- Single Course -->
                    <!-- Single Course -->
                    <div class="single-course">
                        <img src="../../../assets/images/course/course5.jpg" alt="#">
                        <div class="course-content">
                            <h4><a href="#">Zero to Hero Cources</a></h4>
                            <div class="meta">$300.00, <span><i class="fa fa-clock-o"></i>2 Years</span></div>
                        </div>
                    </div>
                    <!-- Single Course -->
                </div>
                <div class="single-widget tags">
                    <h3>Recent <span>Tags</span></h3>
                    <ul>
                        <li><a href="#">Course</a></li>
                        <li><a href="#">University</a></li>
                        <li><a href="#">Scholarship</a></li>
                        <li><a href="#">Free</a></li>
                        <li><a href="#">Standard</a></li>
                        <li><a href="#">Standard</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <section class="blog b-archives single section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="blog-detail">
                                <div class="detail-content">
                                    <h2 class="blog-title">
                                        <a href="#">{{ blog.title }}</a>
                                    </h2>
                                    <div class="blockquote" [innerHTML]="blog.description"></div>
                                    <div class="blog-info">
                                        <a href="#"><i class="fa fa-user"></i>By: {{blog.by}}</a>
                                        <a href="#"><i class="fa fa-calendar"></i>{{blog.date|date:'dd MMMM yyyy'}}</a>
                                        <a href="#"><i class="fa fa-bolt"></i>{{blog.tag}}</a>
                                    </div>
                                </div>
                                <div class="blog-bottom">
                                    <ul class="share">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                    <!-- Next Prev -->
                                    <!-- <ul class="prev-next">
                                        <li class="prev">
                                            <a href="#"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <li class="next">
                                            <a href="#"><i class="fa fa-angle-double-right"></i></a>
                                        </li>
                                    </ul> -->
                                    <!--/ End Next Prev -->
                                </div>
                                <div class="comment-main" *ngIf="replies?.length > 0">
                                    <div class="comment-title">
                                        <h2>Replies:-</h2>
                                    </div>
                                    <div *ngFor="let reply of replies" class="mb-3">
                                        <h5>{{reply?.name}}</h5>
                                        <p>{{reply?.comment}}</p>
                                    </div>
                                </div>
                                <div class="comment-main">
                                    <div class="comment-title">
                                        <h2>Leave a Reply</h2>
                                        <p>
                                            Your email address will not be published. Required fields are marked *
                                        </p>
                                    </div>
                                    <!-- Form -->
                                    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                                        <div class="row">
                                            <div class="col-lg-12 col-12">
                                                <div class="form-group">
                                                    <label>Enter Full Name * </label>
                                                    <input name="name" type="text" formControlName="name" />
                                                    <p class="text-danger"
                                                        *ngIf="formGroup.get('name').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                        Full Name is required.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Enter Your Comments * </label>
                                                    <textarea rows="6" placeholder="Comment"
                                                        formControlName="comment"></textarea>
                                                    <p class="text-danger"
                                                        *ngIf="formGroup.get('comment').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                        Comments is required.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="button">
                                                        <button [disabled]="!formGroup.valid" type="submit"
                                                            class="btn primary">
                                                            Post Comment
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!--/ End Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>