<!-- Team -->
<section class="team section">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="section-title justify-content  ">
                    <h2>Our Awesome <span>Educators</span></h2>
                    <!-- <p> </p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6 ">
                <!-- Single Team -->
                <div class="single-team card p-0">
                    <img src="../../../../assets/images/team/12.png" class="cover-image" alt="#">
                    <div class="card-body">
                        <p>Dr. Niketa Chotai<span>Singapore</span></p>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 ">
                <!-- Single Team -->
                <div class="single-team card p-0">
                    <img src="../../../../assets/image2/teachers/5.png" class="cover-image" alt="#">

                    <div class="card-body">
                        <p>Dr. Wendie Berg<span>USA</span></p>

                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 ">
                <!-- Single Team -->
                <div class="single-team card p-0">
                    <img src="../../../../assets/image2/teachers/4.png" class="cover-image" alt="#">


                    <div class="card-body">
                        <p>Dr. Yang Wei Sze<span>USA</span></p>

                    </div>
                </div>
                <!--/ End Single Team -->
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <!-- Single Team active -->
                <div class="single-team card p-0">

                    <img src="../../../../assets/image2/teachers/1.png" class="cover-image" alt="#">

                    <div class="card-body">
                        <p class="name">Dr. Rameysh Danovani<span class="work">Singapore</span></p>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <!-- Single Team -->
                <div class="single-team card p-0">

                    <img src="../../../../assets/image2/teachers/2.png" class="cover-image" alt="#">


                    <div class="card-body">
                        <p class="name">Dr. Ma. Theresa Buenaflor<span class="work">Philippines</span></p>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <!-- Single Team -->
                <div class="single-team card p-0">
                    <img src="../../../../assets/image2/teachers/3.png" class="cover-image" alt="#">

                    <div class="card-body">
                        <p class="name">Dr. Supriya Kulkarni<span class="work">Canada</span></p>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
        </div>
    </div>
</section>
<!--/ End Team -->