.home-slider .single-slider h1 {
  text-transform: none !important;
  height: auto;
}

.carousel-card {
  height: 400px;
}

.home-slider-height {
  height: 420px !important;
}

.d-flex {
  .slider-text {
    h1 {
      color: white;
      span {
        color: #ff2768;
      }
    }
    p {
      color: white;
    }
  }
}

.backdrop{
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}