.course-head {
    video {
        width: 100%;
    }
}

.fa-files-o {
    cursor: pointer;
}

.buy-btn {
    background-color: #e30967;
    color: #fff;
}

.price {
    display: block;
    float: right;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    padding: 10px 30px !important;
    font-weight: 700;
    border-radius: 50px !important;
    background-color: rgba($color: #e30967, $alpha: 0.5) !important;

}

.text-dark {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}

.text-grey {
    font-size: 14px;
    font-weight: 500;
    color: #BCBCBC;
}
.buy-it{
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #e30967;
}