<ng-container *ngIf="!template; else showDetail">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <!-- Single Enroll -->
                        <div class="form-cls">
                            <div class="form-title">
                                <h2>Register for BIE USG & CEM Symposium 2023</h2>
                            </div>
                            <form class="form" [formGroup]="formGroup">
                                <div class="form-group">
                                    <label>Enter First Name *</label>
                                    <input name="name" type="text" formControlName="firstName" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('firstName').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        First Name is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter Last Name *</label>
                                    <input name="name" type="text" formControlName="lastName" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('lastName').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Last Name is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter Email *</label>
                                    <input type="text" formControlName="email" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('email').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Email is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter Alternate Email *</label>
                                    <input type="text" formControlName="alternateEmail" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('alternateEmail').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Alternate email is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter Phone Number *</label>
                                    <ng-container *ngIf="formGroup?.get('country_flag')?.value; else noFlag">
                                        <!-- <input type="text" formControlName="country_flag" ng2TelInput
                                            [ng2TelInputOptions]="{initialCountry: userForm?.get('country_flag')?.value?.iso2}"
                                            (countryChange)="onCountryChange($event)"> -->
                                    </ng-container>
                                    <ng-template #noFlag>
                                        <input type="text" formControlName="country_flag" ng2TelInput
                                            [ng2TelInputOptions]="{initialCountry: iso2}"
                                            (intlTelInputObject)="onLoadCountryChange($event)" />
                                    </ng-template>
                                    <input type="text" formControlName="phone" class="phoneInput" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('phone').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Phone number is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter MCR Number (if applicable)</label>
                                    <input type="text" formControlName="mcrNumber" />
                                </div>
                                <div class="form-group">
                                    <label>Enter Hospital/Institute Name *</label>
                                    <input type="text" formControlName="companyName" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('companyName').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Hospital/Institute name is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="sel1">Select Country *</label>
                                    <select class="form-control" id="sel1" formControlName="country">
                                        <option *ngFor="let data of countries" [value]="data.name">{{data.name}}
                                        </option>
                                    </select>
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('country').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Country is required.
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label>Referring BIE Global Ambassador Name. NA if not applicable.</label>
                                    <input type="text" formControlName="ambassadorName" />
                                </div>

                                <div class="form-group">
                                    <label>Any other special request?</label>
                                    <input type="text" formControlName="specialRequest" />
                                </div>

                                <div class="mb-3">
                                    <p>How did you learn about the symposium *</p>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="symposium"
                                                value="Email Blast">Email Blast
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="symposium"
                                                value="Colleague/Friend">Colleague/Friend
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="symposium"
                                                value="WhatsApp">WhatsApp
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="symposium"
                                                value="E-flyer">E-flyer
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="symposium"
                                                value="Biedx.com Website">Biedx.com Website
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="symposium"
                                                value="Facebook Post">Facebook Post
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="symposium"
                                                value="Linkedin Post">Linkedin Post
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" (click)="onOther($event)">Other
                                        </label>
                                    </div>
                                    <div class="form-group mt-3" *ngIf="otherTemplate">
                                        <input type="text" formControlName="symposium" />
                                    </div>
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('symposium').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Symposium is required.
                                    </p>

                                </div>

                                <div class="mb-3">
                                    <p>Privacy Policy</p>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="true"
                                                formControlName="cancelPolicy">
                                            <a data-toggle="tooltip" [title]="cancelPolicyText">Cancellation
                                                Policy *</a> (Hover to see Policy)
                                        </label>
                                    </div>
                                    <br />
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="true"
                                                formControlName="userAgreement">
                                            <a data-toggle="tooltip" [title]="userAgreementText">User
                                                Agreement *</a> (Hover to see Agreement)
                                        </label>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <p>Select Course *</p>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="event"
                                                (click)="onEvent($event)" value="USG">USG Only
                                        </label>
                                        <div class="row" *ngIf="firstDayEventDetail">
                                            <div class="col-md-6 border-right">
                                                <p class="text-grey">Early Bird:</p>
                                                <div class="d-flex justify-content-between">
                                                    <span class="text-dark"></span>
                                                    <!-- {{firstDayEventDetail?.earlyBirdDate | date:
                                                        'dd-MM-yyyy'}} -->
                                                    <span class="text-dark">{{firstDayEventDetail?.earlyBirdPrice |
                                                        currency:
                                                        'SGD'}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="text-grey">Late:</p>
                                                <div class="d-flex justify-content-between">
                                                    <span class="text-dark">{{firstDayEventDetail?.regularDate | date:
                                                        'MMM d, y'}}</span>
                                                    <span class="text-dark">{{firstDayEventDetail?.regularPrice |
                                                        currency:
                                                        'SGD'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="event"
                                                (click)="onEvent($event)" value="CEM">CEM Only
                                        </label>
                                        <div class="row" *ngIf="secondDayEventDetail">
                                            <div class="col-md-6 border-right">
                                                <p class="text-grey">Early Bird:</p>
                                                <div class="d-flex justify-content-between">
                                                    <span class="text-dark"></span>
                                                    <!-- {{secondDayEventDetail?.earlyBirdDate |
                                                        date:
                                                        'dd-MM-yyyy'}} -->
                                                    <span class="text-dark">{{secondDayEventDetail?.earlyBirdPrice |
                                                        currency:
                                                        'SGD'}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="text-grey">Late:</p>
                                                <div class="d-flex justify-content-between">
                                                    <span class="text-dark">{{secondDayEventDetail?.regularDate | date:
                                                        'MMM d, y'}}</span>
                                                    <span class="text-dark">{{secondDayEventDetail?.regularPrice |
                                                        currency:
                                                        'SGD'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="event"
                                                (click)="onEvent($event)" value="USG & CEM">USG & CEM
                                        </label>
                                        <ng-container *ngIf="bothDayEventDetail">
                                            <div class="row mb-2">
                                                <div class="col-md-6 border-right">
                                                    <p class="text-grey">Early Bird:</p>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="text-dark"></span>
                                                        <!-- {{data?.earlyBirdDate | date:
                                                            'dd-MM-yyyy'}} -->
                                                        <span class="text-dark">{{119 |
                                                            currency:
                                                            'SGD'}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="text-grey">Late:</p>
                                                    <div class="d-flex justify-content-between">
                                                        <span class="text-dark">Feb 1, 2023</span>
                                                        <span class="text-dark">{{149 |
                                                            currency:
                                                            'SGD'}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="course-price">
                                    <!-- <button [disabled]="!formGroup.valid" type="submit" class="btn"
                                        (click)="onSubmit()">
                                        Buy It
                                    </button> -->
                                    <button class="btn bg-theme text-white f-14 w-100" [disabled]="!formGroup.valid"
                                        (click)="onSubmit()">
                                        Proceed to Register
                                    </button>
                                </div>
                            </form>
                            <!--/ End Form -->
                        </div>
                        <!-- Single Enroll -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #showDetail>
    <!-- Courses -->
    <section class="courses single section">
        <div class="container">
            <div class="single-main">
                <div class="row">
                    <div class="col-lg-8 col-12 pr-0">
                        <!-- Single Course -->
                        <div class="single-course">
                            <div class="course-head">
                                <img [src]="imgBaseUrl + eventDetails?.image" alt="">
                            </div>
                        </div>
                        <!--/ End Single Course -->
                    </div>
                    <div class="col-lg-4 col-12">
                        <!-- Course Features -->
                        <div class="course-feature">
                            <div class="feature-main">
                                <h4>Event Name</h4>
                                <!-- Single Feature -->
                                <div class="single-feature" *ngFor="let video of eventDetails?.video">
                                    <!-- <i class="fa fa-files-o" (click)="onVideoClick(video)"></i> -->
                                    <span class="label">{{video?.name}}</span>
                                </div>
                                <!--/ End Single Feature -->
                            </div>
                        </div>
                        <!--/ End Course Features -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Course Meta -->
                        <div class="course-meta px-0">
                            <!-- Course Info -->
                            <div class="course-info">
                                <div class="single-info author" *ngIf="teacherDetails">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    <!-- <img src="../../../../../assets/images/testimonial2.jpg" alt="#"> -->
                                    <h4>Teacher<a><span>{{teacherDetails?.name}}</span></a></h4>
                                </div>
                                <!-- <div class="single-info s-enroll">
                                <i class="fa fa-shopping-cart"></i>
                                <h4>Enrolled:<span>302 Student Enrolled</span></h4>
                            </div> -->
                                <div class="single-info rattings">
                                    <i class="fa fa-clock-o"></i>
                                    <h4>Event Duration<span>{{eventDetails?.duration}}</span></h4>
                                </div>
                            </div>
                            <!--/ End Course Info -->
                            <!-- Course Price -->
                            <div class="course-price d-flex">
                                <strong class="price mr-2">{{eventDetails?.price | currency: 'SGD'}}</strong>
                                <a class="btn" (click)="addCart(eventDetails?.video)"><i
                                        class="fa fa-shopping-cart"></i>Buy
                                    Event</a>
                            </div>
                            <!--/ End Course Price -->
                        </div>
                        <!--/ End Course Meta -->
                    </div>
                    <div class="col-12">
                        <hr />
                        <h3>Event Detail</h3>
                        <hr />
                        <div class="content mt-2 d-flex flex-column">
                            <div class="mb-3">
                                <div class="single-info category ml-2">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    <h4>Tags<a><span>{{eventDetails?.tags}}</span></a></h4>
                                </div>
                            </div>
                            <p>{{eventDetails?.description}}</p>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <hr />
                        <h3>Day Detail</h3>
                        <hr />
                        <div class="content mt-2" *ngFor="let video of eventDetails?.video">
                            <div class="mb-3 border p-3">
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <p class="text-dark m-0">Name</p>
                                        <span class="text-grey">{{video?.name}}</span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <p class="text-dark m-0">Date</p>
                                        <span class="text-grey">{{video?.date | date: 'dd-MM-yyyy'}}</span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <p class="text-dark m-0">Regular Price</p>
                                        <span class="text-grey">{{video?.regularPrice | currency: 'SGD'}}</span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <p class="text-dark m-0">Regular Date</p>
                                        <span class="text-grey">{{video?.regularDate | date: 'dd-MM-yyyy'}}</span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <p class="text-dark m-0">Early Bird Price</p>
                                        <span class="text-grey">{{video?.earlyBirdPrice | currency: 'SGD'}}</span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <p class="text-dark m-0">Early Bird Date</p>
                                        <span class="text-grey">{{video?.earlyBirdDate | date: 'dd-MM-yyyy'}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3 pl-0 mb-2">
                                    <a (click)="addCart([video])" class="btn buy-it"><i
                                            class="fa fa-shopping-cart mr-2"></i>Buy
                                        It
                                    </a>
                                </div>
                            </div>
                            <div class="p-3">
                                <p class="m-0" [innerHtml]="video?.topic"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Courses -->
</ng-template>