<div class="bg-full">
  <div class="container" style="height: 100vh">
    <div class="center" style="height: 100vh">
      <div class="white-card">
        <div
          class="d-flex justify-content-center align-items-center position-relative"
        >
          <h1 class="text-center main-content text-normal">
            <i class="fa fa-quote-left margin-right-quote" aria-hidden="true"></i>
            Thank you for signing up for BIEDX pre-launch beta testing. You will
            receive early and free access to content and the platform if you are
            selected for the beta testing. Stay tuned!
            <i class="fa fa-quote-right margin-left-quote" aria-hidden="true"></i>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
