<!-- Testimonials -->
<section class="testimonials overlay section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions">

                    <ng-template let-product pTemplate="item">
                        <div class="product-item testimonial-slider">
                            <div class="product-item-content single-testimonial" style="height: 500px;">
                                <img [src]="product.image" [alt]="product.name" >
                                <div class="main-content">
                                    <h4 class="name mb-0">{{ product.name }}</h4>
                                    <p class="mb-3"><b>{{ product.location }}</b></p>
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>

            </div>
        </div>
    </div>
</section>
<!--/ End Testimonials -->