<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <!-- Single Enroll -->
                    <div class="form-cls">
                        <div class="form-title">
                            <h2>{{isEdit ? "Update": "Create" }} Live Event</h2>
                        </div>

                        <!-- Form -->
                        <form class="form" [formGroup]="formGroup">
                            <!-- {{formGroup}} -->
                            <h6>Add Live Event</h6>
                            <hr />
                            <div class="form-group">
                                <label>Enter Event name *</label>
                                <input name="name" type="text" formControlName="name" />
                                <p class="text-danger"
                                    *ngIf="formGroup.get('name').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                    Name is required.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Enter Description *</label>
                                <textarea formControlName="description">
                                    </textarea>
                                <p class="text-danger"
                                    *ngIf="formGroup.get('description').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                    Description is required.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Enter Tags *</label>
                                <input type="text" formControlName="tags" />
                                <p class="text-danger"
                                    *ngIf="formGroup.get('tags').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                    Tags is required.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Upload Image *</label>
                                <input type="file" formControlName="image" accept="image/*"
                                    (change)="selectFiles($event)" />
                                <p class="text-danger"
                                    *ngIf="formGroup.get('image').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                    Image is required.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Enter Price *</label>
                                <input type="text" formControlName="price" />
                                <p class="text-danger"
                                    *ngIf="formGroup.get('price').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                    Price is required.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Enter Early Bird Price *</label>
                                <input type="text" formControlName="earlyBirdPrice" />
                                <p class="text-danger"
                                    *ngIf="formGroup.get('earlyBirdPrice').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                    Price is required.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Enter Date *</label>
                                <input type="date" formControlName="date" />
                                <p class="text-danger"
                                    *ngIf="formGroup.get('date').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                    Price is required.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Enter Event Duration *</label>
                                <input type="text" formControlName="duration" />
                                <p class="text-danger"
                                    *ngIf="formGroup.get('duration').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                    Event duration is required.
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="sel-teach">Select Teacher</label>
                                <select class="form-control" id="sel-teach" formControlName="teacher">
                                    <option *ngFor="let teacher of teachers" [value]="teacher._id">
                                        {{teacher.name}}
                                    </option>
                                </select>
                            </div>
                            <hr />
                            <ng-container *ngIf="videos?.controls.length > 0; else novideos">
                                <h6>Add Live Event:-</h6>
                                <div (click)="addNewVideos('')" class="ml-2 cursor add-video-div">
                                    <i class="fa fa-plus add-video" aria-hidden="true"> &nbsp;Add</i>
                                </div>
                                <hr />
                                <div formArrayName="videos"
                                    *ngFor="let data of videos?.controls; let videosIndex=index">
                                    <div class="row" [formGroupName]="videosIndex">
                                        <div class="col-md-12 d-flex justify-content-end">
                                            <div *ngIf="videos?.controls?.length > 1"
                                                (click)="removeVideos(videosIndex)" class="mr-2 cursor">
                                                <i class="fa fa-minus" aria-hidden="true"></i> Remove
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Enter Event Name *</label>
                                                <input type="text" formControlName="name" />
                                                <p class="text-danger"
                                                    *ngIf="videos?.controls[videosIndex].get('name').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                    Event name is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Enter Event Date *</label>
                                                <input type="date" formControlName="date" />
                                                <p class="text-danger"
                                                    *ngIf="videos?.controls[videosIndex].get('date').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                    Event Date is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Enter Regular Price *</label>
                                                <input type="text" formControlName="regularPrice" />
                                                <p class="text-danger"
                                                    *ngIf="videos?.controls[videosIndex].get('regularPrice').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                    Regular price is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Enter Regular Date *</label>
                                                <input type="date" formControlName="regularDate" />
                                                <p class="text-danger"
                                                    *ngIf="videos?.controls[videosIndex].get('regularDate').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                    Regular Date is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Enter Early Bird Price *</label>
                                                <input type="text" formControlName="earlyBirdPrice" />
                                                <p class="text-danger"
                                                    *ngIf="videos?.controls[videosIndex].get('earlyBirdPrice').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                    Early Bird price is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Enter Early Bird Date *</label>
                                                <input type="date" formControlName="earlyBirdDate" />
                                                <p class="text-danger"
                                                    *ngIf="videos?.controls[videosIndex].get('earlyBirdDate').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                    Early Bird Date is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-12">
                                            <div class="form-group">
                                                <label>Enter Video Link *</label>
                                                <input type="text" formControlName="videoLink" />
                                                <p class="text-danger"
                                                    *ngIf="videos?.controls[videosIndex].get('videoLink').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                    Video link is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-12">
                                            <div>
                                                <angular-editor formControlName="topic"
                                                    [config]="config"></angular-editor>
                                                <p class="text-danger"
                                                    *ngIf="videos?.controls[videosIndex].get('topic').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                                    Video Topics is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </ng-container>
                            <ng-template #novideos>
                                <hr />
                                <h6>Add Videos:-</h6>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="dark-text">NO MORE VIDEOS</span>
                                        <div (click)="addNewVideos('')" class="ml-2 cursor add-video-div">
                                            <i class="fa fa-plus add-video" aria-hidden="true"> &nbsp;Add</i>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </ng-template>

                            <div class="form-group button">
                                <button [disabled]="!formGroup.valid" type="submit" class="btn"
                                    (click)="signupHandler()">
                                    {{ isEdit ? "Update Now" : "Add Now" }}
                                </button>
                            </div>
                        </form>
                        <!--/ End Form -->
                    </div>
                    <!-- Single Enroll -->
                </div>
            </div>
        </div>
    </div>
</div>