<!-- Contact Us -->
<section id="contact" class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>Cart</span> Information</h2>
                </div>
            </div>
        </div>
        <div class="contact-head">
            <h6>Event</h6>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p class="text-dark">Event Name</p>
                    <p class="text-grey">{{cartDetails?.courseName}}</p>
                </div>
                <div class="col-md-4">
                    <p class="text-dark">Event Duration</p>
                    <p class="text-grey">{{cartDetails?.courseDuration}}</p>
                </div>
                <div class="col-md-4">
                    <p class="text-dark">Event Price</p>
                    <p class="text-grey">{{cartDetails?.coursePrice}}</p>
                </div>
                <div class="col-md-12 mt-2">
                    <p class="text-dark">Event Description</p>
                    <p class="text-grey">{{cartDetails?.courseDescription}}</p>
                </div>
            </div>
            <hr />
            <h6>Day Detail</h6>
            <hr />

            <div class="common-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="cartDetails?.videos?.length > 0; else noData">
                            <tr *ngFor="let cart of cartDetails?.videos; let i = index">
                                <td>{{ cart?.name }}</td>
                                <td>{{ cart?.earlyBirdPrice }}</td>
                            </tr>
                        </ng-container>
                        <ng-template #noData>
                            <tr>
                                <td>No Result Found.</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>

            <hr />
            <div class="course-price d-flex justify-content-end">
                <a class="btn" (click)="makePayment(cartDetails?.videos)" target="_blank">Make Payment</a>
            </div>
        </div>
    </div>
</section>
<!--/ End Contact Us -->