<!-- Contact Us -->
<section id="contact" class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>You have<span> registered for</span></h2>
                </div>
            </div>
        </div>
        <div class="contact-head">
            <h6>Event</h6>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p class="text-dark">Event Name</p>
                    <p class="text-grey">{{eventName}}</p>
                </div>
                <div class="col-md-4">
                    <p class="text-dark">Event Duration</p>
                    <p class="text-grey">{{cartDetails?.videos?.length > 1 ? '12 Hour':cartDetails?.courseDuration}}s
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-dark">Event Price</p>
                    <p class="text-grey">{{cartDetails?.videos?.length > 1 ? '119' : '79' | currency:'SGD'}}</p>
                </div>
                <!-- <div class="col-md-12 mt-2">
                    <p class="text-dark">Event Description</p>
                    <p class="text-grey">{{cartDetails?.courseDescription}}</p>
                </div> -->
            </div>
            <hr />
            <div class="d-flex flex-column align-items-end mb-3">
                <p class="text-dark">+ 8% GST</p>
                <div class="d-flex align-items-center">
                    <p class="text-grey">Total Amount:</p>&nbsp; &nbsp;
                    <span class="text-dark">{{cartDetails?.videos?.length > 1 ? '128.25' :'85.32' | currency:
                        'SGD'}}</span>
                </div>
            </div>
            <div class="course-price d-flex justify-content-end">
                <a class="btn" (click)="makePayment(cartDetails?.videos)" target="_blank">Make Payment</a>
            </div>
        </div>
    </div>
</section>
<!--/ End Contact Us -->