<!-- Contact Us -->
<section id="contact" class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>You have<span> registered for</span></h2>
                </div>
            </div>
        </div>
        <div class="contact-head">
            <h6>Course Details</h6>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p class="text-grey">Course Description</p>
                    <p class="text-dark fw-6">{{ eventName }}</p>
                </div>
                <div class="col-md-4">
                    <p class="text-grey">Course Duration</p>
                    <p class="text-dark fw-6">
                        {{ cartDetails?.videos?.length > 1 ? "12 Hour" : cartDetails?.courseDuration }}s
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-grey">Course Price</p>
                    <p class="text-dark fw-6">
                        {{ cartDetails?.videos?.length > 1 ? 'SGD 119.00' : 'SGD 79.00' }}
                    </p>
                </div>
                <!-- <div class="col-md-12 mt-2">
                    <p class="text-dark">Course Description</p>
                    <p class="text-dark">{{cartDetails?.courseDescription}}</p>
                </div> -->
            </div>
            <hr />
            <div class="d-flex flex-column align-items-end mb-3">
                <p class="text-dark">+ 8% GST</p>
                <div class="d-flex align-items-center">
                    <p class="text-dark">Total Amount:</p>
                    &nbsp; &nbsp;
                    <span class="text-dark">{{
                        cartDetails?.videos?.length > 1
                        ? 'SGD 128.25'
                        : 'SGD 85.32' | currency: 'SGD'}}</span>
                </div>
            </div>
            <div class="course-price d-flex justify-content-end">
                <a class="btn" (click)="makePayment(cartDetails?.videos)" target="_blank">Proceed to Checkout</a>
            </div>
        </div>
    </div>
</section>
<!--/ End Contact Us -->