<section class=" section d-none d-md-block" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <!-- Single Enroll -->
                        <div class="form-cls">
                            <div class="form-title">
                                <h2>{{isEdit ? "Update": "Create" }} Course</h2>
                            </div>

                            <!-- Form -->
                            <form class="form" [formGroup]="formGroup">
                                <!-- {{formGroup}} -->
                                <div class="form-group">
                                    <label>Enter Course name *</label>
                                    <input name="name" type="text" formControlName="name"
                                        placeholder="Enter you name" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('name').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Name is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter Description *</label>
                                    <textarea formControlName="description" placeholder="Enter Course Description">
                                    </textarea>
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('description').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Description is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter Tags *</label>
                                    <input type="text" formControlName="tags" placeholder="Enter Tags" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('tags').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Tags is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Upload Image *</label>
                                    <input type="file" formControlName="image" accept="image/*"
                                        (change)="selectFiles($event)" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('image').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Image is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter Price *</label>
                                    <input type="text" formControlName="price" placeholder="Enter Price" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('price').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Price is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter Videos Link *</label>
                                    <textarea formControlName="video" placeholder="Enter Videos Link"></textarea>
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('video').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Videos link is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Enter Course Duration *</label>
                                    <input type="text" formControlName="duration" placeholder="Enter Course Duration" />
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('duration').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Course duration is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="sel-body">Select Body Parts *</label>
                                    <select class="form-control" id="sel-body" formControlName="bodyParts"
                                        (change)="onBodyPartsClick($event)">
                                        <option *ngFor="let bodypart of bodyParts" [value]="bodypart._id">
                                            {{bodypart.name}}</option>
                                    </select>
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('bodyParts').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Body parts is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="sel-diag">Select Diagnosis *</label>
                                    <select class="form-control" id="sel-diag" formControlName="diagnosis">
                                        <option *ngFor="let diagnos of diagnosis" [value]="diagnos._id">
                                            {{diagnos.name}}
                                        </option>
                                    </select>
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('diagnosis').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Diagnosis is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="sel-teach">Select Teacher *</label>
                                    <select class="form-control" id="sel-teach" formControlName="teacher">
                                        <option *ngFor="let teacher of teachers" [value]="teacher._id">
                                            {{teacher.name}}
                                        </option>
                                    </select>
                                    <p class="text-danger"
                                        *ngIf="formGroup.get('teacher').hasError('required') && (formGroup.dirty || formGroup.touched)">
                                        Teacher is required.
                                    </p>
                                </div>
                                <div class="form-group button">
                                    <button [disabled]="!formGroup.valid" type="submit" class="btn" (click)="signupHandler()">
                                        {{ isEdit ? "Update Now" : "Add Now" }}
                                    </button>
                                </div>
                            </form>
                            <!--/ End Form -->
                        </div>
                        <!-- Single Enroll -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>