<div class="container mt-3">
  <div class="table-top-strip">
    <h3 style="margin-top: 10px; margin-bottom: 10px;">Teacher List</h3>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn add-btn" [routerLink]="'/admin/teacher/add'">Add Teacher</button>
  </div>
  <ng-container *ngIf="teachers?.length > 0; else noData">
    <div class="common-table table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ teacher?.name }}</td>
            <td>{{ teacher?.email }}</td>
            <td>
              <button class="btn view-btn" [routerLink]="'/admin/teacher/teacher-details/teacher?.id'">View More</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noData>
    <p>No Result Found.</p>
  </ng-template>
</div>