.common-table {
    table {
        thead {
            border-top: 1px solid #E6E6E6 !important;
            border-bottom: 1px solid #E6E6E6 !important;
            background-color: #ff2768 !important;

            tr {
                th {
                    padding: 10px 9px !important;
                    border-bottom: 0px solid transparent !important;
                    color: #ffffff;
                }
            }
        }

        tbody {
            border-top: none;

            tr {
                border-bottom: 2px solid #E6E6E6;

                &.border-0 {
                    border: 0px solid transparent !important;
                }

                td {
                    padding: 15px 9px;
                    font-weight: 500;
                    color: #000;

                    .view-btn {
                        background-color: #252525;
                        color: #ffffff;
                    }

                    .view-btn:hover {
                        background-color: #ff2768;
                    }
                }

            }
        }

    }
}