.meeting {
    background-color: #fff;
    .seprator {
        padding: 11px 0;
        div {
            border: 2px solid #cccccc;
            border-radius: 6px;
            width: 14%;
        }
    }
    .para-div {
        margin: 15px 0px;
        p {
            margin-bottom: 1.6em;
            font-size: 13px;
            font-weight: 400;
            color: #4d4d4d;
        }
    }
}

.symposium-div {
    background-color: #3a3a3a;
    .inner-div {
        margin: 0px 100px;
        min-height: 500px;
        text-align: center;
        padding: 5% 0;
        padding-bottom: 0;
        h2 {
            color: #deb8ff;
            font-family: "Shadows Into Light", Sans-serif !important;
            font-size: 40px;
            text-align: center;
            margin-bottom: 30px;
            font-weight: 400;
        }
        p {
            color: #fff;
            margin-bottom: 1.8em;
            color: #bababa;
            font-size: 17px;
            line-height: 1.6em;
            letter-spacing: -0.6px;
            font-weight: 400;
        }
        img {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin-bottom: 20px;
        }
        .doctor-name {
            color: #dfc15e;
            font-family: "Ovo", Sans-serif;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 9px;
        }
    }
}

.bg-color {
    background-color: #eeeeee;
    padding: 50px 0px;
    .objective-div {
        padding: 50px 0px;
        padding-top: 0 !important;
        h2 {
            color: #30052d;
            font-family: "Shadows Into Light", Sans-serif;
            font-size: 31px;
            text-align: center;
            margin-bottom: 1.6em;
        }
        .main-section {
            background-color: #fff;
            .objective-description {
                display: flex;
                justify-content: center;
                padding: 10% 0px;
                padding-bottom: 10px;
                .seprator {
                    padding: 11px 0;
                    div {
                        border: 2px solid #cccccc;
                        border-radius: 6px;
                        width: 18%;
                    }
                }
                .objective-titile {
                    margin-bottom: 1.6em;
                    color: #000;
                }
                ul {
                    margin-left: 35px;
                    margin-top: 20px;
                    li {
                        list-style: disc;
                    }
                }
            }
        }
        .obj-img {
            height: 100%;
            width: 100%;
        }
    }
    .testimonial-div {
        padding: 50px 0px;
        padding-top: 0;
        h2 {
            color: #30052d;
            font-family: "Shadows Into Light", Sans-serif;
            font-size: 31px;
            text-align: center;
            margin-bottom: 1.6em;
        }
        .single-testimonial {
            background-color: #fff;
            padding: 20px;
            margin: 0px 5px;
            border-radius: 6px;
            min-height: 500px;
            text-align: center;
            img {
                border: 1px solid #30052d;
                border-radius: 50%;
                margin-bottom: 1.2em;
            }
            .main-content {
                b {
                    margin-bottom: 1.2em;
                }
                p {
                    font-size: 12px;
                    text-align: justify;
                }
            }
        }
    }
}

.icon-size {
    font-size: 20px;
}

.icon-body {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-color: 2px solid#DEB8FF !important;
    background-color: #727272c2;
    padding-left: 18px;
    padding-top: 13px;
    margin-right: 10px;
}

.img-class {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.btnsize {
    font-family: "Roboto", Sans-serif;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    fill: #30052d;
    color: #30052d;
    padding: 0px 25px;
    background-color: rgba(223, 193, 94, 0);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 50px 50px 50px 50px;
    border-color: #30052d;
}

.btnsize:hover {
    color: #ffffff;
    background-color: #f6accd;
    border-color: #dfc15e !important;
}
.my-3{
    img{
        width: 100%;
    }
}