<el-header></el-header>
<section>
    <div class="my-3">
        <img src="../../../../../assets/images/banner-2023.png" alt="" width="100%"/>
    </div>
    <div class="container">
        <div class="meeting">
            <div class="row mt-5">
                <div class="col-md-8">
                    <h1 class="heading m-0">SYMPOSIUM OVERVIEW</h1>
                    <div class="seprator">
                        <div></div>
                    </div>
                    <div class="para-div">
                        <p>
                            The BIE USG and CEM Symposium 2023 is a two day lecture series designed to provide a detailed understanding of the two modalities for breast imaging from a practical standpoint. Participants will learn various concepts from basics to advanced with the
                            help of case demonstrations.
                        </p>

                        <p>
                            <b>Ultrasound (USG) Breast Symposium (Day 1) – </b> Ultrasound breast is a basic, most widely used and cost-effective modality in breast imaging. Its role in screening and diagnostic settings is increasing but it comes with
                            its own limitations. In this lecture series, we will learn the basics and advances in ultrasound in breast imaging. Case demonstrations are included for an enhanced understanding of concepts and a practical experience for the
                            participants.
                        </p>

                        <p>
                            <b> Contrast Enhanced Mammography (CEM) Symposium (Day 2) –</b> Contrast enhanced mammography (CEM) is being seen as a game changer in the breast imaging armamentarium. In this series of talks on CEM by international experts,
                            we will share the indications, practical application, newly released ACR BIRADS Lexicon, and literature review with the participants. The talks will be combined with interesting case sharing to make it an interactive and practical
                            learning experience.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 img-class">
                    <img src="../../../../../assets/image2/meetingview.png" alt="" srcset="" />
                    <img src="../../../../../assets/images/symposium3.jpg" alt="" srcset="" />
                    <img src="../../../../../assets/images/symposium.jpg" alt="" srcset="" />
                    <img src="../../../../../assets//images/symposium7.jpg" alt="" srcset="" />
                    <img src="../../../../../assets/images/symposium4.jpg" alt="" srcset="" />
                    <img src="../../../../../assets/images/symposium1.jpg" alt="" srcset="" />
                    <img src="../../../../../assets/images/symposium6.jpg" alt="" srcset="" />
                    <img src="../../../../../assets/images/symposium8.jpg" alt="" srcset="" />
                    <img src="../../../../../assets/images/symposium2.jpg" alt="" srcset="" />
                </div>
            </div>
            <div class="d-flex justify-content-center my-4">
                <button class="btn btnsize" (click)="navigate()">Register Now</button>
            </div>
        </div>
    </div>
    <div class="symposium-div">
        <div class="inner-div">
            <h2>Symposium Director's Message</h2>
            <div class="mb-3"></div>

            <p>
                Over the last two years, we have received a lot of requests for USG and CEM breast education. The BIE USG & CEM Symposium 2023 is a series of talks designed to help radiologists learn the basics as well as advances in relation to the use of ultrasound
                in breast imaging from the comfort of your homes. You will also learn the the indications, practical application, newly released ACR BIRADS Lexicon, and literature review of Contrast Enhanced Mammography through detailed lectures from
                global experts and interactive discussions. This is another attempt to help you continue your education and learning in breast imaging. We welcome you all to take advantage of the opportunity and make the most of it! See you soon!
            </p>

            <div class="d-flex flex-column align-items-center justify-content-center mt-3">
                <img src="../../../../../assets/image2/niketa.png" class="img-size" alt="" />
                <h3 class="doctor-name">DR. NIKETA CHOTAI</h3>
            </div>
        </div>
    </div>
    <div class="bg-color">
        <div class="container">
            <div class="objective-div">
                <h2>Objectives</h2>
                <div class="main-section">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="objective-description">
                                <div>
                                    <div class="seprator">
                                        <div></div>
                                    </div>
                                    <p>
                                        At the end of the symposium, the attendees would be able to
                                        <br /> understand –
                                    </p>
                                    <ul>
                                        <li>
                                            How and when to offer ultrasound breast and axilla appropriately
                                        </li>
                                        <li>
                                            Role of US breast in screening and diagnostic breast conditions <br /> Automated breast ultrasound – ABUS
                                        </li>
                                        <li>
                                            Basics of contrast enhanced mammogram (CEM) and its indications
                                        </li>
                                        <li>
                                            Utility of CEM in various clinical scenarios with insight in research
                                        </li>
                                        <li>Possible future applications of USG and CEM</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../../../assets/images/objective.jpg" alt="objective" class="obj-img" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="objective-div">
                <h2>WHO SHOULD ATTEND THE SYMPOSIUM</h2>
                <div class="main-section">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <img src="../../../../../assets/images/objective1.webp" alt="objective" class="obj-img" />
                        </div>
                        <div class="col-md-6">
                            <div class="objective-description pt-4">
                                <div>
                                    <div class="seprator">
                                        <div></div>
                                    </div>
                                    <ul>
                                        <li><strong>Breast Radiologists</strong></li>
                                        <li><strong>General Radiologists</strong></li>
                                        <li><strong>Radiology Residents</strong></li>
                                        <li><strong>Radiology/ Surgery Fellows</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="objective-div">
                <h2>FEATURES OF THE SYMPOSIUM</h2>
                <div class="main-section">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="objective-description">
                                <div>
                                    <div class="seprator">
                                        <div></div>
                                    </div>
                                    <ul>
                                        <li>12 hours of learning</li>
                                        <li>International experts</li>
                                        <li>Clinical approach with case demonstrations</li>
                                        <li>Q&A to get your queries solved</li>
                                        <li>Certificate of participation and completion</li>
                                        <li>CME/CPD points to be awarded</li>
                                        <li>On-demand lectures available for 2 weeks</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../../../assets/images/objective6.png" alt="objective" class="obj-img" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="objective-div">
                <h2>PRICING AND TIMING</h2>
                <div class="main-section">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../../../../../assets/images/objective7.webp" alt="objective" class="obj-img" />
                        </div>
                        <div class="col-md-6">
                            <div class="objective-description pt-4">
                                <div>
                                    <div class="seprator">
                                        <div></div>
                                    </div>
                                    <p class="objective-titile"><b>Timing:</b></p>
                                    <div class="d-lg-flex justify-content-between">
                                        <div>
                                            <p class="objective-titile"><b>USG Symposium 2023</b></p>
                                            <ul class="mb-4">
                                                <li>Date: 18 Feb 2023 (Saturday)</li>
                                                <li>Time: 9.00 am to 6.00 pm SGT</li>
                                                <li>Venue: Online</li>
                                            </ul>
                                        </div>
                                        <div>
                                            <p class="objective-titile"><b>CEM Symposium 2023</b></p>
                                            <ul class="mb-4">
                                                <li>Date: 19 Feb 2023 (Saturday)</li>
                                                <li>Time: 9.00 am to 6.00 pm SGT</li>
                                                <li>Venue: Online</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="objective-titile"><b>Pricing:</b></p>
                                    <p class="objective-titile">
                                        <b>COMBO Price (Both USG and CEM)</b>
                                    </p>
                                    <ul class="mb-4">
                                        <li>Early Bird: SGD 119.00</li>
                                        <li>Regular: SGD 149.00</li>
                                    </ul>
                                    <div class="d-lg-flex justify-content-between">
                                        <div>
                                            <p class="objective-titile"><b>USG Symposium 2023</b></p>
                                            <ul class="mb-4">
                                                <li>Early Bird: SGD 79.00</li>
                                                <li>Regular: SGD 99.00</li>
                                            </ul>
                                        </div>

                                        <div>
                                            <p class="objective-titile"><b>CEM Symposium 2023</b></p>
                                            <ul>
                                                <li>Early Bird: SGD 79.00</li>
                                                <li>Regular: SGD 99.00</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-div">
                <h2>Testimonials</h2>

                <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions">
                    <ng-template let-product pTemplate="item">
                        <div class="product-item testimonial-slider">
                            <div class="product-item-content single-testimonial">
                                <img [src]="product.image" [alt]="product.name" class="test-img" />
                                <div class="main-content">
                                    <h6 class="name mb-0">{{ product.name }}</h6>
                                    <b>{{ product.location }}</b>
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btnsize" (click)="navigate()">Register Now</button>
            </div>
        </div>
    </div>

    <section class="enroll overlay section section d-none d-md-block Sponsors" data-stellar-background-ratio="0.5">
        <div class="d-flex justify-content-center">
            <div class="col-md-8">
                <div>
                    <h1 style="color: #deb8ff" class="mb-4 text-center">
                        Sponsors and Partners
                    </h1>
                </div>
                <div>
                    <div class="section-title">
                        <p class="text-center text-size" style="color: white">
                            To partner with us, please write to contact@breastimagingessentials.com.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="background-color: black; height: 70px" class="d-flex justify-content-center pt-2">
        <div class="icon-body icon-size">
            <a href="https://instagram.com/_biedx?igshid=YmMyMTA2M2Y=" target="_blank">
                <i class="fa fa-instagram icon" style="color: #deb8ff"></i>
            </a>
        </div>
        <div class="icon-body icon-size">
            <a href="https://m.facebook.com/100064189443838/" target="_blank">
                <i class="fa fa-facebook icon-lg" style="color: #deb8ff"></i>
            </a>
        </div>
        <div class="icon-body icon-size">
            <a href="https://twitter.com/_biedx" target="_blank">
                <i class="fa fa-twitter icon" style="color: #deb8ff"></i>
            </a>
        </div>
        <div class="icon-body icon-size">
            <a href="https://www.youtube.com/@biedx" target="_blank">
                <i class="fa fa-youtube icon" style="color: #deb8ff"></i>
            </a>
        </div>
        <div class="icon-body icon-size">
            <a href="https://sg.linkedin.com/company/biedx" target="_blank">
                <i class="fa fa-linkedin icon" style="color: #deb8ff"></i>
            </a>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5 pb-4">
        <button class="btn btnsize" (click)="navigate()">Register Now</button>
    </div>
</section>