.img-class {
    display: grid;
    // height: 100px;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: 100px;
    gap: 10px
}

.heading {
    font-size: 60px;
    margin-bottom: 70px;
}

.text-size {
    font-size: 16px;
}

.btnsize {
    border: 3px solid black!important;
    border-radius: 50px;
    color: black;
    background: none;
    font-size: 20px;
    width: 200px;
}

.f-24 {
    font-size: 24px;
}

.icon-body {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-color: 2px solid#DEB8FF;
}

.list-styling {
    list-style-position: outside;
}

.f-15 {
    font-size: 15px;
}

li {
    font-size: 15px;
}

.Director-Message .img-size {
    width: 75px;
    height: 75px;
}

.Director-Message {
    background-color: #3a3a3a;
}

.Director-Message .section-title {
    color: white;
}

ul {
    list-style: disc!important;
}

.bie-color {
    color: #FF2768;
}

.icon-size {
    font-size: 20px;
}
