<header class="header">
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12 py-2">
          <div class="logo">
            <a href="/"><img src="../../../../assets/image2/logo.png" class="logo" alt="#" /></a>
          </div>
          <div class="mobile-menu"></div>
        </div>
        <div class="col-lg-9 col-md-9 col-12">
          <!-- Header Widget -->
          <div class="header-widget">
            <div class="single-widget cursor" (click)="sendWhatsAppMessage()">
              <i class="fa fa-whatsapp"></i>
              <!-- <h4>Whatsapp Us<span>(+65) 89525405</span></h4> -->
            </div>
            <!-- <div class="single-widget cursor" (click)="mailTo()">
              <i class="fa fa-envelope-o"></i>
              <h4>Send Mail<span>ask@biedx.com</span></h4>
            </div>
            <div class="single-widget">
              <i class="fa fa-map-marker"></i>
              <h4>Our Location<span>37 Kallang Pudding Rd, Singapore</span></h4>
            </div> -->
          </div>
          <!--/ End Header Widget -->
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
  <!-- Header Menu -->
  <div class="header-menu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-default">
            <div class="navbar-collapse">
              <!-- Main Menu -->
              <ul id="nav" class="nav menu navbar-nav" style="display: block">
                <li [routerLinkActive]="'active'" *ngFor="let item of navigationsList">
                  <a [routerLink]="[item.path]">{{item?.title}}</a>
                </li>
                <li *ngIf="user">
                  <a>Welcome,&nbsp;{{ user.data.firstName }} {{ user.data.lastName }}</a>
                </li>
              </ul>
              <!-- End Main Menu -->
              <!-- button -->
              <!-- <div class="button cart-button" *ngIf="cartDetails?.videos?.length > 0">
                <a class="btn" (click)="viewCart()">
                  <i class="fa fa-shopping-cart"></i>View Cart {{cartDetails?.videos?.length}}
                </a>
              </div> -->
              <div class="button" *ngIf="!user">
                <a class="btn" [routerLink]="'/auth/sign-in'"><i class="fa fa-pencil"></i>Sign In / Register</a>
              </div>
              <div class="button" *ngIf="user" (click)="handleLogout()">
                <a class="btn"><i class="fa fa-power-off"></i></a>
              </div>
              <!--/ End Button -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Menu -->
</header>
<!-- End Header -->